
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hotels</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="date">
                <div class="checkin">
                    <label for="hotel">入住日期:</label>
                    <input type="date"/><br>
                </div>
                <div class="checkout">
                    <label for="hitel">退房日期:</label>
                    <input type="date"/><br>
                </div>
            </div>
            搜尋飯店: <input type="text" v-model="search"><br>
            篩選出價格介於: <input type="number" v-model="min">-<input type="number" v-model="max">$的飯店
        </header>
        <div v-if="load">load</div>
        <div v-else class="hotelContainer">
            <div v-for="(item, index) in hotel" :key="item.id">
                <div class="hotel">                    
                    <img src="https://picsum.photos/300/200/?random=10" v-bind:alt="item.name">
                    <p>飯店名稱: {{item.name}}</p>
                    <span>{{item.stars}}星級</span>
                    <p>{{item.price}}元</p>
                    <p>date_start:{{item.date_start}}</p>
                    <p>date_end:{{item.date_end}}</p>

                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data(){
                return {
                    load:false,
                    source:[],
                    // hotel: [],
                    count: [],
                    // total: 0,
                    search:'',
                    min:0,
                    max:0
                }
            },
            computed:{ //可電腦計算的data ，不能帶參數，有傳回值
                hotel(){        
                    let cache = this.source
                    if(this.min > 0){ //篩選最小價錢
                        cache = cache.filter(item=>{
                            return item.price > this.min
                        })
                    }

                    if(this.max > 0){
                        cache = cache.filter(item=>{
                            return item.price < this.max
                        })
                    }

                    if(this.search !== ''){
                        cache = cache.filter(item=>{
                            return item.name.includes(this.search)
                        })
                    }
                    return cache

                },
                total(){
                    if(this.hotel.length> 0){
						let total = 0
						for ( const countIndex in this.hotel) {
							total += this.count[countIndex] * this.hotel[countIndex]['price']
						}
						return parseInt(total)
					}else{
						return 0
					}
                }
            },
            watch:{
                //監聽data或computed
				total: {
					handler: function(newVal, oldVal) {
						console.log(oldVal);
						console.log(newVal);
                        if(newVal>1000){
                            alert('你要餓死了哈哈')
                        }
					},
					deep: true
				}
            },
            mounted() { // mounted : 渲染完
            },
            methods:{// 可帶參數
                getResource(){
                    this.load = true
                    fetch('http://fake-hotel-api.herokuapp.com/api/hotels')
                    .then(res=>res.json())
                    .then(json=>{
                        this.source = json
                        //初始化商品數量
                        for ( item in this.hotel) {
                            this.count.push(0)
                        }
                        this.load = false
                    })
                },
                addCount(index){
                    this.count[index] += 1
                    // this.sumTotal()
                },
                reduceCount(index){
                    if(this.count[index] <= 0) return
                    this.count[index] -= 1
                    // this.sumTotal()
                },
            },
            created(){  // created : Vue實體被建立完
                this.getResource()
            }
        }).mount("#app")
    </script>
</body>
</html>
<style>
    .hotelContainer{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
    }
    .date{
        display: flex;
        justify-content:space-between;
        width: 400px;
    }
    .hotel{
        margin: 10px;
    }
    img{
        width: 380px;
        height: 200px;
    }
</style>